
// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Offcanvas
@import 'offcanvas';

// EmojiOne
@import '~emojione/lib/emojione-awesome/emojione-awesome';

// EmojiOne Area
@import '~emojionearea/dist/emojionearea';

.box {
    height: 32px;
    width: 32px;
    background-color: #fd7e14;
}

.badge-text {
    color: #fd7e14;
    font-weight: bold;
}

main {
    min-height: 70vh;
}

ul.navbar-nav {
    width: 100%;
}

.jumbotron {
    background-image: url('/chainlink-690503.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    color: white;
    font-weight: bold;
    height: 90vh;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}